.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 2rem;
}

.container img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
 }



.container__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    place-self: center;
    min-width: 300px;
    min-height: 300px;
    box-sizing: border-box;
    text-align: justify;
}

.container__text span.paragraph {
    max-width: 47%;
    line-height: 2;
}

@media (min-width:563px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        padding: 2rem;
    }
}